body {
    background-color: #1b1b1b;
    color: white;
}

.message-input-container { /* This is the container for message-bar */
    width: 65%;
    position: fixed;
    margin: auto;
    bottom: 20px;
    z-index: 100;
    left: 50%;
    transform: translate(-40%, 0%);
}

.newchannel-buttontext {
    cursor: pointer;
}

.newchannel-buttontext:hover {
    color: #00ff33;
}

.message-bar {
    min-width: 100%;
    min-height: 50px;
    padding-inline: 20px;
    color: white;
    background-color: #2c2c2c;
    border: none;
    border-radius: 10px;
}

.message-container {
    width: 90%;
    margin-top: 20px;
}

.message-container .user-title{
    color: #00fff7;
    margin-bottom: 0;
}
.message-container .message-header {
    display: flex;
}
.message-master {
    overflow-y: scroll;
    margin-left: 50px;
}


.sidebar-button {
    background-color: #171717;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 80px;
    position: fixed;
    top: 10px;
    left: 10px;
    border: solid #2c2c2c;
}

.sidebar .sidebar-button {
    margin-left: 15%;
    font-size: large;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

.message-container .date{
    color: rgba(255, 255, 255, 0.67);
    padding-top: 10px;
    margin-left: 30px;
}

.message-container .user-title:hover{
    text-decoration: underline;
}

.message-container .handle {
    color: #bdbdbd;
    margin-top: 0;
    margin-bottom: 7px;
}

.error-text {
    color: #6056cc;
    font-weight: bold;
    text-align: center;
}

.bottom-spacer {
    margin-top: 100px;
    border: transparent;
}


.user-settings-pane {
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    background-color: #101010;
    margin-left: 50%;
    bottom: 50%;
    z-index: 110;
    left: 50%;
    transform: translate(-50%, 10%);
    padding-inline: 40px;
    padding-block: 20px;
    font-family: Menlo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-settings-pane button {
    /* this is for the create an account button */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 19%, rgba(238, 0, 255, 1) 100%);
    border-radius: 15px;
}

.bar-item {
    display: flex;
    cursor: pointer;
    margin-block: 10px;
    padding: 5px;
}

.user-settings-pane h1 {
    text-align: center;
}

.user-settings-pane input {
    margin-block: 5px;
    background-color: rgb(167, 167, 167);
    border: none;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 10px;
}
.user-settings-pane .textInput {
    width: 400px;
    min-width: 100%;
    min-height: 50px;
    padding-inline: 20px;
    color: white;
    background-color: #2c2c2c;
    border: none;
    border-radius: 10px;
}

.sidebar {
    justify-content: flex-start;
    height: 100%;
    position: fixed;
    width: 20%;
    min-width: 300px;
    background-color: #101010;
    top: 0%;
    left: 0;
}

.notification-dot {
    background-color: #df1a1a;
    color: white;
    width: fit-content;
    border-radius: 10px;
    padding-inline: 10px;
    margin-left: 10px;
}

::-webkit-scrollbar {
    background: #222222;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 50px;
}